progress[value] {
  /* Reset the default appearance */
  -webkit-appearance: none;
   appearance: none;

  width: 500px;
  height: 20px;
}

.progress-bar {
  position: relative;
  display: block;
  margin-bottom: 5px;
}